# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# SQLite DB
assets.db
*.sqlite3
*.db

# Instance / local config
instance/
.env

# Editors
.vscode/
.idea/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Packaging
*.egg-info/
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
